<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript" ></script>

  <script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js" type="text/javascript" ></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.1/firebase-app.js" type="text/javascript" ></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.1/firebase-database.js" type="text/javascript" ></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.1/firebase-storage.js" type="text/javascript" ></script>

  <script src="/qr/consulta/bower_components/d3/d3.min.js" type="text/javascript" ></script>

  <script type="text/javascript" src="/qr/consulta/bower_components/c3/c3.min.js"></script>
  <link rel="stylesheet" href="/qr/consulta/bower_components/c3/c3.css" type="text/css" />



  <script src="/qr/consulta/firebase_config.js" type="text/javascript"></script>
  <script type="text/javascript">
    const eventId = {{id}};
  </script>
  <script src="/qr/consulta/script.js" type="text/javascript" ></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" type="text/css" >
  <link rel="stylesheet" href="/qr/consulta/styles.css" type="text/css" >


</head>

<body>
  <div>
    <img id="img" height="125" width="50" class="left" />
    <h1 id="tittle"></h1>
    <div class="description">
      <h2>Descripción :</h2>
      <p id="description"></p>
    </div>
  </div>
  <div id="puntuacionChart"></div>
  <div id="fechasChart"></div>

</body>


</html>